extends ../shared/template
block content

  .row
    .col-xs-12
      #map
  .row
    .col-xs-12
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Photo
            th Location
            th Hint
        tbody
          tr
            td= treasure.name
            td
               img(src=treasure.photo)
            td= treasure.Location1
            td=treasure.hint
    .row
     form(class='form-inline' role='form', method='put', action='/treasures')
      .form-group
        .col-xs-10
          button(type='submit', class='btn btn-default') Found

block scripts
  script(src='/js/user/treasures.js')
